# This compose file is a lightweight version of docker-compose-full.yml.
# It is intended to be used for local quickstarts.
# It does not include RabbitMQ.
# It only includes frontend, clickhouse, postgres, and app-server.

name: lmnr

services:
  postgres:
    image: postgres:16
    pull_policy: always
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test:
        ["CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
      interval: 2s
      timeout: 5s
      retries: 5

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    pull_policy: always
    volumes:
      - type: volume
        source: clickhouse-data
        target: /var/lib/clickhouse/
      - type: volume
        source: clickhouse-logs
        target: /var/log/clickhouse-server/
      - type: bind
        source: ./clickhouse-profiles-config.xml
        target: /etc/clickhouse-server/users.d/lmnr.xml
    environment:
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

  query-engine:
    image: ghcr.io/lmnr-ai/query-engine
    pull_policy: always
    ports:
      - "${QUERY_ENGINE_HOST_PORT:-8903}:8903"
    environment:
      PORT: 8903
    healthcheck:
      test: ["CMD", "sleep", "5"]
      interval: 10s
      timeout: 6s
      retries: 3

  frontend:
    image: ghcr.io/lmnr-ai/frontend
    pull_policy: always
    ports:
      - "${FRONTEND_HOST_PORT:-5667}:5667"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      PORT: 5667
      BACKEND_URL: http://app-server:8000
      BACKEND_RT_URL: http://app-server:8002
      SHARED_SECRET_TOKEN: ${SHARED_SECRET_TOKEN}
      NEXTAUTH_URL: http://localhost:5667
      NEXTAUTH_SECRET: some_secret
      NEXT_PUBLIC_URL: http://localhost:5667
      ENVIRONMENT: LITE # this disables some runtime dependencies
      CLICKHOUSE_URL: http://clickhouse:8123
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
      CLICKHOUSE_RO_USER: ${CLICKHOUSE_RO_USER}
      CLICKHOUSE_RO_PASSWORD: ${CLICKHOUSE_RO_PASSWORD}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      AEAD_SECRET_KEY: ${AEAD_SECRET_KEY}
      QUICKWIT_SEARCH_URL: http://quickwit:7280

  app-server:
    image: ghcr.io/lmnr-ai/app-server
    pull_policy: always
    ports:
      - "${APP_SERVER_HOST_PORT:-8000}:8000"
      - "${APP_SERVER_GRPC_HOST_PORT:-8001}:8001"
      - "${APP_SERVER_RT_HOST_PORT:-8002}:8002"
    depends_on:
      postgres:
        condition: service_healthy
      clickhouse:
        condition: service_started
    environment:
      PORT: 8000
      GRPC_PORT: 8001
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      SHARED_SECRET_TOKEN: ${SHARED_SECRET_TOKEN}
      CLICKHOUSE_URL: http://clickhouse:8123
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
      CLICKHOUSE_RO_USER: ${CLICKHOUSE_RO_USER}
      CLICKHOUSE_RO_PASSWORD: ${CLICKHOUSE_RO_PASSWORD}
      ENVIRONMENT: LITE # this disables runtime dependency on rabbitmq
      AEAD_SECRET_KEY: ${AEAD_SECRET_KEY}
      QUERY_ENGINE_URL: http://query-engine:8903
      QUICKWIT_SEARCH_URL: http://quickwit:7280
      QUICKWIT_INGEST_URL: http://quickwit:7281
      QUICKWIT_SPANS_INDEX_ID: spans

  quickwit:
    image: quickwit/quickwit:v0.8.2
    pull_policy: always
    ports:
      - "7280:7280" # REST API and UI
      - "7281:7281" # OTLP / gRPC
    environment:
      QW_DATA_DIR: /quickwit/qwdata
    command: [ "run" ]
    volumes:
      - quickwit-data:/quickwit/qwdata

  ai-sdk:
    image: ghcr.io/lmnr-ai/ai-sdk
    pull_policy: always
    ports:
      - "${AI_SDK_HOST_PORT:-3000}:3000"
    environment:
      PORT: 3000
      AEAD_SECRET_KEY: ${AEAD_SECRET_KEY}
  
volumes:
  postgres-data:
  clickhouse-data:
  clickhouse-logs:
  quickwit-data:
