# This compose file is a lightweight version of docker-compose-local-dev-full.yml.
# It is intended to be used for local development on frontend only.
# It does not include ClickHouse,
# Qdrant, Semantic Search, Python executor, and RabbitMQ.
# It only includes postgres, and app-server.
# Run frontend manually with `ENVIRONMENT=LITE pnpm run dev`.

name: lmnr

services:
  postgres:
    image: postgres:16
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}" ]
      interval: 2s
      timeout: 5s
      retries: 5

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"
    volumes:
      - type: volume
        source: clickhouse-data
        target: /var/lib/clickhouse/
      - type: volume
        source: clickhouse-logs
        target: /var/log/clickhouse-server/
      - type: bind
        source: ./clickhouse/config/users.xml
        target: /etc/clickhouse-server/users.d/users.xml
        read_only: true
      - type: bind
        source: ./clickhouse/001000-initial.sql
        target: /docker-entrypoint-initdb.d/001000-initial.sql
        read_only: true
    cap_add:
      - SYS_NICE
      - NET_ADMIN
      - IPC_LOCK
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

  app-server:
    image: ghcr.io/lmnr-ai/app-server
    pull_policy: always
    ports:
      - "8000:8000"
      - "8001:8001"
    depends_on:
      postgres:
        condition: service_healthy
      clickhouse:
        condition: service_started

    environment:
      PORT: 8000
      GRPC_PORT: 8001
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      SHARED_SECRET_TOKEN: ${SHARED_SECRET_TOKEN}
      CLICKHOUSE_URL: http://clickhouse:8123
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      ENVIRONMENT: LITE # this disables runtime dependency on rabbitmq, semantic search, and python executor
      AEAD_SECRET_KEY: ${AEAD_SECRET_KEY}

volumes:
  postgres-data:
  clickhouse-data:
  clickhouse-logs:
