# This compose definition builds Laminar images locally. This is meant to be
# run at the last step of local development as a check before pushing changes.
name: lmnr

services:
  qdrant:
    image: qdrant/qdrant
    volumes:
      - type: volume
        source: qdrant-data
        target: /data
    
  rabbitmq:
    image: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 7s
      timeout: 5s
      retries: 3

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"
    volumes:
      - type: volume
        source: clickhouse-data
        target: /var/lib/clickhouse/
      - type: volume
        source: clickhouse-logs
        target: /var/log/clickhouse-server/
      - type: bind
        source: ./clickhouse/config/users.xml
        target: /etc/clickhouse-server/users.d/users.xml
        read_only: true
      - type: bind
        source: ./clickhouse/001000-initial.sql
        target: /docker-entrypoint-initdb.d/001000-initial.sql
        read_only: true
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

  semantic-search-service:
    build:
      context: ./semantic-search-service
    container_name: semantic-search-service
    depends_on:
      - qdrant
    environment:
      - PORT=8080
      - QDRANT_URL=http://qdrant:6334
      - COHERE_ENDPOINT=https://api.cohere.ai/v1/embed
      - COHERE_API_KEY=${COHERE_API_KEY}

  postgres:
    image: postgres:16
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
      interval: 2s
      timeout: 5s
      retries: 5

  python-executor:
    build:
      context: ./python-executor
    container_name: python-executor

  app-server:
    ports:
      - "8000:8000"
      - "8001:8001"
    build:
      context: ./app-server
      args:
        DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
    container_name: app-server
    depends_on:
      semantic-search-service:
        condition: service_started
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      clickhouse:
        condition: service_started
      python-executor:
        condition: service_started
    environment:
      - PORT=8000
      - GRPC_PORT=8001
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      - SEMANTIC_SEARCH_URL=http://semantic-search-service:8080
      - RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672/%2f
      - SHARED_SECRET_TOKEN=${SHARED_SECRET_TOKEN}
      - CLICKHOUSE_URL=http://clickhouse:8123
      - CLICKHOUSE_USER=${CLICKHOUSE_USER}
      - CODE_EXECUTOR_URL=http://python-executor:8811
      - ENVIRONMENT=FULL

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
      clickhouse:
        condition: service_started
    environment:
      - PORT=3000
      - BACKEND_URL=http://app-server:8000
      - SHARED_SECRET_TOKEN=${SHARED_SECRET_TOKEN}
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      - ENVIRONMENT=FULL
      - CLICKHOUSE_URL=http://clickhouse:8123
      - CLICKHOUSE_USER=${CLICKHOUSE_USER}

volumes:
  qdrant-data:
  clickhouse-data:
  clickhouse-logs:
  postgres-data:
