# postgres://user:password@host:port/dbname
DATABASE_URL="postgres://postgres:postgres_passwordabc@localhost:5433/postgres"

PORT=8000
GRPC_PORT=8001
# port for the consumer side of the queue, serves realtime (RT) endpoint
CONSUMER_PORT=8002

RABBITMQ_URL=amqp://admin:adminpasswd@localhost:5672/%2f

CLICKHOUSE_URL=http://localhost:8123
CLICKHOUSE_USER=ch_user
CLICKHOUSE_PASSWORD=ch_passwd
CLICKHOUSE_RO_USER=ch_user
CLICKHOUSE_RO_PASSWORD=ch_passwd

SHARED_SECRET_TOKEN=some_secret
# must be exactly 32 bytes (64 hex characters)
AEAD_SECRET_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
ENVIRONMENT=FULL

# Optional, if you want to use Redis for caching. Create a Redis/Valkey instance and set the URL here.
# REDIS_URL=redis://localhost:6379

QUERY_ENGINE_URL=http://localhost:8903

QUICKWIT_INGEST_URL=http://localhost:7281 # grpc
QUICKWIT_SEARCH_URL=http://localhost:7280 # http
QUICKWIT_SPANS_INDEX_ID=spans

# Optional, set this to enable the signals feature
# GOOGLE_GENERATIVE_AI_API_KEY=