[package]
name = "app-server"
version = "0.1.0"
edition = "2021"

[dependencies]
env_logger = "0.10.0"
actix-web = "4"
anyhow = "1"
futures-util = "0.3.28"
tonic = "0.8"

# workaround [AFIT](https://rust-lang.github.io/rfcs/3185-static-async-fn-in-trait.html)
# while rust people have hot [debates](https://github.com/rust-lang/rust/pull/115822#issuecomment-1718261458) 
# around it and are strugling to stabilize it.
async-trait = "0.1"

dotenv = "0.15"
prost = "0.11"
tokio = { version = "1.24", features = ["macros", "rt-multi-thread"] }
tokio-stream = { version = "0.1", features = ["net"] }
futures = "0.3"
rayon = "1"
enum_dispatch = "0.3.12"
html2md = "0.2.14"
boilerpipe = "0.6.0"
reqwest = { version = "0.12.0", default-features = false, features = ["rustls-tls", "json", "stream", "multipart"] }
serde = "1.0"
serde_json = "1.0.105"
log = "0.4.20"
lazy_static = "1.4.0"
futures-core = "0.3.28"
async-stream = "0.3.5"
actix-service = "2.0.2"
uuid = { version = "1.4.1", features = ["v4", "fast-rng", "macro-diagnostics", "serde"] }
actix-multipart = "0.6.1"
actix-web-httpauth = "0.8.1"
rand = "0.8.5"
itertools = "0.11.0"
unicode-segmentation = "1.10.1"
chrono = { version = "0.4.31", features = ["serde"] }
moka = { version = "0.12.1", features = ["sync", "future"] }
sqlx = { version = "0.7", features = ["runtime-tokio", "postgres", "uuid", "json", "time", "chrono", "bigdecimal"] }
thiserror = "1.0.56"
json_value_merge = "2.0.0"
serde-jsonlines = "0.5.0"
regex = "1.10.3"
csv = "1.3.0"
fancy-regex = "0.13.0"
url = "2.5.0"
bimap = "0.6.3"
dashmap = "5.5.3"
reqwest-eventsource = "0.6.0"
tiktoken-rs = "0.5.9"
handlebars = { version = "5.1.2", features = ["script_helper"] }
handlebars_misc_helpers = { version = "0.16.3", features = ["json"] }
aws-sdk-bedrockruntime = "1.37.0"
aws-config = "1.5.3"
aws-credential-types = "1.2.0"
actix-web-actors = "4.3.0"
actix = "0.13.5"
backoff = { version = "0.4.0", features = ["tokio"] }
lmnr-baml = { git = "https://github.com/lmnr-ai/lmnr-baml", branch = "rust" }

[build-dependencies]
tonic-build = "0.8"
