name: Backend build and test

on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
    paths:
      # Explicit list prevents triggering build on changes such as
      # README, .env.example.
      - "app-server/src/**"
      - "app-server/proto/**"
      - "app-server/**/*.rs"
      - "app-server/Cargo.lock"
      - "app-server/Cargo.toml"

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v5
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-app-server-pr-${{ hashFiles('Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-buildx-app-server-pr-

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./app-server
          push: false
          platforms: linux/amd64
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
          target: builder
          tags: app-server-test:latest
          load: true

      - name: Run tests inside container
        run: |
          echo "Running tests inside Docker container..."
          docker run --rm -t app-server-test:latest cargo test -- --nocapture
