name: Check Frontend Tests

on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
    paths:
      - 'frontend/**' 

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
          cache-dependency-path: ./frontend/pnpm-lock.yaml

      - name: Install dependencies
        working-directory: ./frontend
        run: pnpm install

      - name: Run tests
        working-directory: ./frontend
        run: pnpm test
